.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.card-carousel {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
}

.carousel-item {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.card-text {
    padding: 10px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.card p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    padding: 5px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
